@import url(./normalize.css);
@import url(./fonts.css);
@import url(./animation.css);
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding-top: 28px;
  padding-bottom: 39px;
  background: #F5F9FF;
  background-image: linear-gradient(45deg, #506CCF 0%, #3453C2 100%);
  background-size: 458px auto;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}

.container {
  position: relative;
  right: -46px;
  z-index: 6;
  width: 1265px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top__logo img {
  width: 37px;
  height: 37px;
}

.header-top__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 35px;
  margin-left: 204px;
  list-style: none;
}
.header-top__list a {
  text-decoration: none;
  color: #5F6B77;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  transition: color 0.3s;
}
.header-top__list a:hover {
  color: #8B9FCC;
}

.header-top__wrap {
  display: flex;
  align-items: center;
}

.header-top__lang {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #8B9FCC;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 78px;
}

.header-top__tel {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-right: 15px;
}

.header-top__button {
  width: 127px;
  height: 46px;
  background: #49A1F1;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  transition: transform 0.3s;
}
.header-top__button:hover {
  transform: scale(1.05);
}

.header-offer__title {
  margin-top: 164px;
  color: #08123A;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  max-width: 570px;
}

.header-offer__text {
  margin-top: 58px;
  color: #5F6B77;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  max-width: 502px;
}

.header-offer__button {
  margin-top: 58px;
  border-radius: 10px;
  background: #506CCF;
  box-shadow: 0px 20px 35px 0px #DFE8F4;
  width: 170px;
  height: 54px;
  border: none;
  color: #FFFFFF;
  font-family: "SF Pro Text";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
  transition: transform 0.3s;
}
.header-offer__button:hover {
  transform: scale(1.05);
}

.header-offer__arrow {
  margin-top: 43px;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid #E9EAF0;
  background: transparent;
  transition: all 0.3s;
}
.header-offer__arrow:hover {
  background: #E9EAF0;
  transform: translateY(3px);
}
.header-offer__arrow a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  user-select: none;
}

.header-bg__image1 {
  position: absolute;
  top: 131px;
  right: 285px;
}

.header-bg__image3 {
  position: absolute;
  top: 450px;
  right: 435px;
}

.header-bg__image2 {
  position: absolute;
  top: 139px;
  right: 0px;
}

.header-bg img {
  z-index: 7;
  transition: transform 0.5s;
}
.header-bg img:hover {
  transform: translateY(-10px);
}

.header-bg__circle-blue {
  position: absolute;
  top: 102px;
  right: 586px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 20px 35px #DFE8F4);
  background: linear-gradient(45deg, #506CCF 0%, #3453C2 100%);
  animation: 33s linear 0s infinite move-blue;
}

.header-bg__circle-red {
  position: absolute;
  top: 298px;
  right: 397px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #FF8B8B;
  filter: drop-shadow(0px 20px 35px rgba(90, 50, 50, 0.4));
  animation: 40s linear 0s infinite move-red;
}

.header-bg__circle-yellow {
  position: absolute;
  bottom: 44px;
  right: 292px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #FFC86F;
  filter: drop-shadow(0px 20px 35px rgba(156, 101, 34, 0.3));
  animation: 33s linear 0s infinite move-yellow;
}

.header-bg__rectangle {
  position: absolute;
  top: 523px;
  right: 403px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #E9EAF0;
  background: transparent;
  animation: 33s linear 0s infinite move-rectangle;
}

.header-bg__image {
  width: 65px;
  height: 65px;
  background: #ECF2FE;
  position: absolute;
  bottom: 165px;
  right: 707px;
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 33s linear 0s infinite move-rectangle;
}
.header-bg__image::after {
  content: "";
  background-image: url(../icons/ellipse.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 65px;
  height: 65px;
}

.header-bg__item {
  width: 47px;
  height: 47px;
  background: url(../image/photo.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 47px;
  border: 2px solid #FFFFFF;
}

/* Module structure */
.header-module {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

.header-module__animate {
  animation: 0.5s cubic-bezier(0.4, 0, 1, 1) 0s 1 module;
}

.header-module__form {
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  width: 557px;
  height: auto;
  border-radius: 11px;
  background: #FFFFFF;
  z-index: 8;
  padding: 38px 37px 38px 38px;
}

.header-module__title {
  color: #08123A;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.header-module__address {
  margin-top: 31px;
}
.header-module__address .header-module__label::before {
  content: "";
  background-image: url(../image/mark.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.header-module__address .header-module__text {
  margin-top: 13px;
}

.header-module__label {
  color: #5F6B77;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.header-module__text {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.header-module__link {
  color: #506CCF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-decoration-line: underline;
  margin-top: 7px;
  display: inline-block;
}

.header-module__wrap {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header-module__wrap .header-module__text:first-child {
  margin-left: 5px;
}
.header-module__wrap .header-module__text:last-child {
  margin-left: 7px;
}

.header-module__wrap-left__text:last-child {
  margin-top: 12px;
}

.header-module__wrap-right button {
  width: 188px;
  height: 54px;
  color: #5F6B77;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  filter: drop-shadow(0px 20px 35px #DFE8F4);
  border: 2px solid #5F6B77;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}
.header-module__wrap-right button:hover {
  transform: scale(1.05);
}

.header-module__clock {
  margin-top: 40px;
}
.header-module__clock .header-module__label::before {
  content: "";
  background-image: url(../image/clock.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: 5px;
}
.header-module__clock .header-module__text:not(:last-child) {
  margin-top: 13px;
}

.header-module__social {
  margin-top: 27px;
}

.header-module__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 12px;
  column-gap: 18px;
}
.header-module__list li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}
.header-module__list li:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=main.css.map */
